/* CartPage.css */
.cart-page-container{
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  min-width: 600px;
  min-height: 800px;
}

.cart-page {
  position: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px; /* Adjust max-width based on your design */
  min-width: auto;
  max-height: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.539);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  transition: transform 0.3s ease;
  overflow-y: visible;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin: 0;
}

.form-container input {
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 300px; /* Set max-width to prevent it from extending too much */
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(38, 38, 38);
}



.form-container p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cartexit_btn{
  position: fixed;
  top: 5px;
  right: 5px;
  width: 30px; /* Set width and height to make a square button */
  height: 30px;
  background: rgb(251, 189, 4);
  color: #fff;
  border: none;
  border-radius: 50%; /* Make a circle */
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
}
.hide-btn{
  display: flex;
  justify-content: center;
  }


.hideform_btn{
  cursor: pointer;
  font-size: 30px;
  padding: 16px;
  width: 50%;
  height: auto;
  color: white;
  font-size: larger;
  margin-top:  20px;
  background: rgba(255, 27, 194, 0.368);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  transition: transform 0.3s ease;
}

.cartclear_btn{
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: larger;
  padding: 0;
  margin-top: 15px;
  width: 50%;
  color: white;
  background: rgba(255, 247, 1, 0.386);
  border-radius: 16px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.197);
  padding: 16px;
  transition: transform 0.3s ease;
}

.checkout_btn{
  cursor: pointer;
  max-width: 50%;
  min-width: 50%;
  margin-bottom: 5px;
  height: auto;
  color: white;
  font-size: larger;
  padding: 10px;
  background: rgba(11, 248, 165, 0.397);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 16px;
  transition: transform 0.3s ease;
}

/* Add responsive styles for larger screens */
@media screen and (min-width: 768px) {
  .cart-page-container {
    /* No need to add any styles, it will remain centered */
  }

  .cart-page {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    &__item {
      width: 48%;
    }
  }
}





  
  