body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.contact-container {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: flex-start; /* Align children to the top */
  position: relative;
  top: 100px; /* Start below the navbar */
  height: calc(100vh - 100px); /* Full height minus the navbar height */
  width: 100vw;
  margin: 0;
  overflow: hidden; /* Hide overflow on the container */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
}

.contact-container.visible {
  opacity: 1; /* Set opacity to 1 when the visible class is applied */
}

.contact-container h2 {
  position: fixed; /* Fixed position for the title */
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin: 0;
  z-index: 1002;
  color: #ffffff;
}

.contact-content {
  display: block;
  max-width: 800px;
  width: 100%; /* Ensure content is responsive */
  padding: 20px;
  background: rgba(84, 11, 81, 0.831);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  opacity: 1; /* Make sure it is visible */
  border: 1px solid rgba(255, 255, 255, 0.13);
  overflow-y: auto;
  margin-top: 60px; /* Ensure content does not overlap with fixed h2 */
  z-index: 1001;
}

/* Style paragraphs for readability */
.contact-content p {
  font-size: 1.25rem; /* Adjust font size for better readability */
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 10px; /* Add margin between paragraphs */
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .contact-container {
    top: 50px; /* Adjust top position for smaller screens */
  }

  .contact-content {
    padding: 10px; /* Reduce padding for smaller screens */
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
  
  .contact-content p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
  
  .contact-container h2 {
    font-size: 1.5rem; /* Adjust heading size for smaller screens */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-content {
    padding: 15px; /* Adjust padding for medium screens */
  }

  .contact-content p {
    font-size: 1.1rem; /* Adjust font size for medium screens */
  }
  
  .contact-container h2 {
    font-size: 1.75rem; /* Adjust heading size for medium screens */
  }
}

@media screen and (min-width: 1024px) {
  .contact-content p {
    font-size: 1.25rem; /* Font size for larger screens */
  }

  .contact-container h2 {
    font-size: 2rem; /* Heading size for larger screens */
  }
}
