body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.home-container {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: flex-start; /* Align children to the top */
  position: relative;
  top: 110px;
  height: calc(100vh - 110px);
  width: 100vw;
  margin: 0;
  overflow: hidden; /* Hide overflow on the container */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
}

.home-container.visible {
  opacity: 1; /* Set opacity to 1 when the visible class is applied */
}

.home-container h2 {
  position: fixed; /* Fixed position for the title */
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin: 0;
  z-index: 1000;
  color: #ffffff;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
  background: none;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  height: calc(100vh - 110px);
}

.intro-text {
  position: fixed; /* Make the intro text fixed */
  width: 40%; /* Fixed width */
  max-width: 400px; /* Adjust max width as needed */
  margin-right: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  left: 20px; /* Adjust positioning */
  top: 120px; /* Adjust to be below the fixed header */
}

.intro-text h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.image-section {
  margin-left: 45%; /* Adjust margin to make space for fixed intro text */
  width: 55%; /* Adjust width as needed */
  padding-top: 20px; /* Add padding to avoid overlap with intro text */
  overflow-y: auto;
  height: calc(100vh - 100px); /* Ensure it fills the remaining height */
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .home-container {
    height: auto; /* Adjust height to fit content */
  }

  .home-content {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 50px;
    padding: 0 10px;
  }

  .intro-text {
    position: relative; /* Make it part of the normal flow */
    width: 90%;
    left: 0;
    top: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .intro-text h1 {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 1rem;
  }

  .image-section {
    margin-left: 0;
    width: 100%;
    height: auto; /* Adjust height to fit content */
    padding-top: 0;
  }

  .showroom-image {
    max-width: 100%; /* Full width on smaller screens */
  }
}







  