.home-container {
  position: relative;   
  bottom: 25vh;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

 
  }
  
  .home-content {
    display: block;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.539);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.13);
  }
  
  .home-content h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .home-content p {
    font-size: 2rem;
    line-height: 1.6;
    color: #ffffff;
  }


  