.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 130px); /* Adjust height based on your navbar height */
  padding: 70px 10px 10px 10px; /* Add padding-top to account for navbar height + extra space */
  overflow-y: auto; /* Make the container scrollable */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
}

.shop-container.visible {
  opacity: 1; /* Set opacity to 1 when the visible class is applied */
}

.shop-container h1 {
  position: fixed;
  top: 10px; /* Adjust top position as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin: 0;
  z-index: 1000; /* Ensure the header is on top */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px; /* Adjust this margin to ensure content does not go under the fixed header */
}

.product {
  width: calc(20% - 20px); /* 5 cards per row on large screens */
  margin: 10px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .product {
    width: calc(33.33% - 20px); /* 3 cards per row on tablet screens */
  }
}

@media screen and (max-width: 767px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: calc(50% - 20px); /* 2 cards per row on mobile screens */
    margin: 10px 0; /* Adjust margin as needed */
  }
}



  