body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 130px); /* Adjust height based on your navbar height */
  padding: 100px 10px 10px 10px; /* Add padding-top to account for navbar height + extra space */
  overflow-y: auto; /* Make the container scrollable */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
}

.shop-container.visible {
  opacity: 1; /* Set opacity to 1 when the visible class is applied */
}

.shop-container h1 {
  position: fixed;
  top: 10px; /* Adjust top position as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  margin: 0;
  z-index: 1002; /* Ensure the header is on top */
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; /* Space between category sections */
  width: 100%;
}

.category-title {
  font-size: 2rem; /* Adjust the font size */
  font-weight: bold;
  margin-bottom: 20px; /* Adjust margin as needed */
  text-align: center; /* Center the category title */
}

.products-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between products */
  width: 100%;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width of the product card */
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-height: auto;
  max-width: 200px; /* Adjust the max-width to fit your layout */
  padding: 0px;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease, border 0.1s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.25rem;
}

.product-card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #666;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1200px) {
  .products-grid {
    flex-direction: column; /* Stack products vertically on medium screens */
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .products-grid {
    flex-direction: column; /* Stack products vertically on small screens */
    align-items: center;
  }
}
