/* Cart.css */
.cart-product-container {
    display: grid;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0px;
    max-height: 400px;
    overflow-y: auto;
    max-width: auto;

  }


  
  .cart-items-container {
    display: grid;
    flex-direction: row;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column size based on your design */
    grid-gap: 20px;
    max-height: auto ;
    min-height: 400px;
    padding: 20px;
    
    overflow-y: auto;
    
  }

  .cart-items-prop{
    display: flex;
    align-items: center ;
  }
  
  .cart-items-prop img{
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .cart-items-prop p{
    font-size: 1rem;
    margin: 10px;
  }
 
  
  .cart-item {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute items evenly */
    max-width: 100%; /* Ensure each item never exceeds the width of the cart page */
    margin-bottom: 20px; /* Add some space between items */
    border-radius: 5px;
    border: 1px solid rgb(0, 68, 255);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(152, 152, 152, 0.187);
    
  }
  
  /* Adjust other styles for the cart items as needed */
  


  .cart-buttons{
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 5px
  }

  .cart-item button {
    padding: 5px;
    margin-right: 5px;
    font-family: monospace;
    color: white;
    background: rgb(125, 152, 1);
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    
    transition: transform 0.3s ease;
  }


  
  
  /* Add responsive styles for larger screens */
  @media screen and (min-width: 768px) {
    .cart-items-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust column size based on your design */
      display: grid;
      flex-direction: row;
  
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column size based on your design */
      grid-gap: 20px;
      padding: 50px;
      max-width: 700px;
      max-height: auto;
      overflow-y: auto;
    }

    .cart-items-prop{
      display: flex;
      align-items: center ;
    }
    
    .cart-items-prop img{
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }
    
    .cart-items-prop p{
      font-size: 1.2rem;
      margin: 10px;
    }


  }
  