* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-image: url('/src/assets/backround.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: monospace;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: none; /* Navbar background color */
  color: #fff; /* Navbar text color */
  position: fixed; /* Fixed position to stay at the top */
  z-index: 1000; /* Ensure it stays above other content */
}

.centerLinks {
  display: flex;
  flex: 1;
  justify-content: center;
}

.centerLinks a {
  text-decoration: none;
  font-family: monospace;
  font-size: 2.5rem;
  margin: 0 10px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: monospace;
}


.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto; /* Adjust width as needed */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdownContent.open {
  display: block;
}

.dropdownContent a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdownContent a:hover {
  background-color: #f4f4f4;
}

.h1shop{
  font-size: 2.5rem;
  font-weight: bold; /* Set font weight to bold */
  font-weight: normal;/*set a span h1 to fit other font */
  margin-right:10px;
  font-family: monospace;
  color: #ffffff;
  
}





.card {
  max-width: 8rem;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  padding: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) rotateX(5deg) scale(1.05);
}

.cart-button {
  display: flex;
  max-width: 100%;
  margin: 0 0px;
  justify-items: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px, green;
  border-radius: 5px;
  
}

.cart-button:hover {
  transform: translateY(-5px) rotateX(5deg) scale(1.05);
}

.cart-counter {
  position: absolute;
  top: 0px;
  right: 15px;
  background: rgb(1, 127, 110);
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 1;
}

.buy_btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: rgba(22, 77, 77, 0.281);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  padding: 15px;
  transition: background-color 0.3s ease;
}

.buy_btn:hover {
  background-color: #0069d958;
}

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  overflow-x: auto;
  padding: 20px;
}

.shop-container img {
  width: 100%;
  border-radius: 16px;
}

.main-content {
  position: relative;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .centerLinks {
    justify-content: center;
    margin-top: 20px;
  }

  .centerLinks a {
    font-size: 1.2rem;
  }

  .h1shop {
    font-size: 1.2rem;
  }

  .card {
    max-width: 100%;
  }

  .shop-container {
    width: 100%;
  }
}


